body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}

ul li {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.upperbody {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: grey;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex: 1;
}

.upper {
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 30px;
}

.lefto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.website {
    width: 80%;
    font-size: 18px;
    color: #E5E7EB
}

.websitehead {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    width: 70%;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

button {
    padding-left: 24px;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    background-color: #3882F6;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.aboveset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set {
    display: flex;
    justify-content: center;
}