body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

ul li {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.upperbody {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.upper {
    height: 300px;
}

.lefto {
    width: 50%;
}
/* 2 section */

